@using ASP.NETMVCSchool.DTOs

@model SubjectDTO

<div>
    <h4>Edit subject</h4>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="@Model.Name" class="form-control" type="text" />
        </div>        
        <div>
            <input class="btn btn-success" type="submit" value="Update" />
        </div>
    </form>
</div>